
body {
	width: 100%;
	color:#000;
	font-family: tahoma, arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

h1 {
	font-family: Times, serif;
	font-style: italic;
	font-size: 1.3em;
	color: #000;
	/*border: 1px black solid;*/
	display: inline;
	margin: 0 .75em 0 0;
	padding: .5em;
}
nav {
	/*border: 1px black solid;*/
	text-transform: uppercase;
	display: inline;
	font-family: 'Noto Sans', sans-serif;
	font-size: 1.25em;
	font-weight: 500;
	float: right;
	padding: 1em 2em 1em;
	margin: 0;
	word-spacing: 1.25em;
}

a {
	text-decoration: none;
	color: #000;
}
img {
	width: 48%;
	/*border-radius: 20px; */
	/*border: 1px black solid;*/
	padding: 1.5em;
	margin: 1em 0 1em 4em;
}
h2 {
	font-size: 2.5em;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	/*border: 1px black solid;*/
	padding: 1em 0 0;
}
h3 {
	font-size: 1.5em;
	font-family: Times, serif;
	font-style: italic;
	/*border: 1px black solid;*/
}

}
h4 {
	font-size: 1.5em;
	font-family: serif;
	font-style: italic;
}
footer {
	/*border: 1px black solid;*/
	margin: 2em 4em;
	padding: 1.75em;
	height: 50%;
}
#white {
	color: #fff;
}

#slogan {
	border: 1px black solid;
}
.circle {
	/*text-transform: uppercase;*/
	/*border: 1px black solid;*/ 
	font-size: 1.25em;
	/*border-radius: 100%;*/
	/*width: 400px;*/
	/*height: 400px; */
	color: #000;

}
.center {
	text-align: center;
	/*border: 1px black solid;*/
	margin: 10em 0 0 4em;
	padding: 1em 0 1em 1.5em;
	float: left;

}
.wwwcenter {
	height: 20%;
	border: 4px black solid;
	text-align: center;
	margin: 2em 9em;
	padding: 1em 2em 2.5em 2em;
	/*color: #999;*/
	/*float: right;*/
}
.mapcenter {
	text-align: center;
	margin: 7em 0 0 12em;
	padding: 1em 0 1em 1.5em;
	float: left;
}

.description {
	/*border: 1px black solid;*/
	margin: 0;
	padding: .5em;
}
.right {
	/*border: 1px black solid;*/
	display: inline;
	float: right;
	text-align: center;
	width: 35%;
	margin: 7em 4em 0 0;
	padding: 0 1.5em 0 0;

}
.wrapper {
	width: 90%;
	margin: 1.25em 2em;
	padding: 2.5em;
	/*border: 1px black solid;*/
}
.mainwrapper {
	background-image: url("images/fashionapp.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: right top;
	color: #fff;
	padding: 2em;
	margin: 0;
	height: 650px;
	/*border: 1px black solid;*/
}
.mapwrapper {
	background-image: url("images/mapapp.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: right top;
	/*background-color: #e3e3e3;*/
	padding: 2em;
	margin: 0;
	height: 510px;
	/*border: 1px black solid;*/
}
.wwwwrapper {
	background-image: url("images/mainimg.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: right top;
	height: 520px;
	/*border: 1px black solid;*/
	/*text-align: center;*/

}
.imgcenter {
	text-align: center;
	/*border: 1px black solid;*/
	/*width: 625px;*/
	/*margin: 0 2em 0;*/
	/*padding: 0 2em 0;*/
}

.fwwrapper {
	background-color: none;
	padding: 2em;
	margin: 2.2em 0 0;
	height: 510px;
}

#logo {
	color: #000;
	font-family:'PT Sans Narrow', sans-serif;
	font-weight: 700;
	font-size: 3.5em;
	/*border: 1px black solid;*/
	/*padding: .5em 0em .5em 1em;*/
	margin: 1em 0 1em 1em;
}
#contacts {
	font-family: 'Noto Sans', sans-serif;
	font-size: 1.2em;
	word-spacing: 2em;
	display: inline;
	float: left;
	/*border: 1px black solid;*/
}
#copy {
	font-family: 'Noto Sans', sans-serif;
	font-size: 1.2em;
	display: inline;
	float: right;
	/*border: 1px black solid;*/

}
#black {
	color: #000;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

@media only screen  and (max-width: 768px) {
	.center, .right, .mapcenter {
		float: none;
		width: auto;
	}
	body {
		font-size: 14px;
	}
	nav {
		float: none;
	}
	nav a {
		display: block;
		text-align: center;
		/*margin: 1em auto;*/
		padding: .5em;
	}
	h2, h3 {
		text-align: center;
		display: block;
	}
	img {
		width: 320px;
	}
}

@media only screen and (max-width: 480px) {
	body {
		font-size: 13px;
	}
	h1, nav {
		display: block;
		text-align: center;
		float: none;
	}
	nav a {
		margin: 0 1em 1em;
	}
	img {
		width: 230px;
	}

}
@media only screen and (max-width: 320px) {
	/*body {
		font-size: 13px;
	}
	h1, nav {
		display: block;
		text-align: center;
	}
	nav a {
		margin: 0 1em 1em;
	}
	img {
		width: 230px;
	}*/

}